[submodule "antihack2019_backend"]
	path = antihack2019_backend
	url = https://github.com/rbkn99/antihack2019_backend
[submodule "antihack2019_bots"]
	path = antihack2019_bots
	url = https://github.com/rbkn99/antihack2019_bots
